*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    border-radius: 15px;
}

main{
    border: solid;
    /* height: 90vh; */
    display: flex;
    flex-direction: column;
    padding: 40px;
    gap: 30px;
    justify-content: center;
    background-color: rgb(255, 149, 0);
    max-width: 1200px;
    margin-inline: auto;
    
}
.child{
    border: solid;
    /* height: 25%; */
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    background-color: white;
}
.child1{
    border: solid;
    /* height: 25%; */
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    background-color: white;
}
h3{
    color: blue;
}
header{
    background-color: rgba(240, 248, 255, 0.648);
    /* height: 20%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.child1{
    transition: 2.1s;

}
.child1:hover{
    transform: skew(30deg);
    
}